[Unit]
Description=Webhook Daemon
After=network.target

[Service]
Type=simple
Environment="RUST_LOG=info"
ExecStart=/usr/bin/webhookd

[Install]
WantedBy=multi-user.target

